*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
	max-width: 100%;
	width: 100%;
	display: block;
}
body{
	position: relative;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  #myBtn:hover {
	background-color: #555;
  }

menu{
	display: block;
	width: 100%;
	position: absolute;
	max-height: 70px;
	z-index: 9999;
	border-bottom: 1px solid rgba(243,251,255,.3);
}
menu img{
	max-width: 160px;
}
.nav-link{
    color: red;
    font-size: 15px;
    font-weight: 600;
}
banner{
	display: block;
	width: 100%;
	/* background-attachment: fixed; */
}
banner .den{
	z-index: 1;
	position: absolute;
	display: block;
	width: 100%;
	height: 90vh;
	background-color: #000000ba;
	background-blend-mode: color;
}
banner img{
	width: 100%;
	height: 90vh;
}
.c-caption {
    position: absolute;
	top: 30vh;
	z-index: 1;
	text-align: center;
	width: 100%;
}
.c-caption h1 {
    color: #f07b0a;
    font-weight: 600;
}
.c-caption p {
    color: #d7cece;
    margin-top: 25px;
	margin-bottom: 25px;
}
about{
	width: 100%;
	display: block;
	margin-top: 50px;
}
about h1{
	text-align: center;
	color: #f07b0a;
    font-weight: 600;
    margin-bottom: 30px;
}
lich{
	width: 100%;
	display: block;
	margin-top: 50px;
}
lich h1{
	text-align: center;
	color: #f07b0a;
    font-weight: 600;
    margin-bottom: 30px;
}
sanpham{
	display: block;
	width: 100%;
	margin-top: 50px;
}
sanpham h1{
	text-align: center;
	color: #f07b0a;
    font-weight: 600;
    margin-bottom: 30px;
}
sanpham a:hover{
	text-decoration: none;
}
sanpham img{
	height: 260px;
}
.items .row .col-sm-4 {
    border: 1px solid #c9c9ca3d;
    margin-top: 20px;
}
.items .row .col-md-3:hover {
    box-shadow: 0 0 5px #a0a0a0;
}
.container .row .follow {
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 5px #a0a0a0;
    color: #f07b0a;
    margin-top: 20px;
    margin-bottom: 30px;
}
.container .row .follow:hover{
	color: #fff;
	background: #f07b0a;
	transition: all .4s ease;
	cursor: pointer;
}
.title-1 {
    text-align: center;
    color: #101010;
}

local{
	display: block;
	width: 100%;
	margin-top: 50px;
}
local h1{
	text-align: center;
	color: #f07b0a;
    font-weight: 600;
    margin-bottom: 30px;
}
local .row{
	margin-top: 30px;
}
local .row ul{
	list-style: none;
	margin-left: 30px;
}
local .row ul li{
	margin-bottom: 20px;
	color: green;
}
local .row .list i{
	vertical-align: text-bottom;
	width: 26px;
	font-size: 24px;
	text-align: center;
	margin-right: 5px;
}
local iframe{
	width: 100%;
	max-height: 450px;
}

/* form đăng ký */
dangki{
	display: block;
	width: 100%;
	color: #f07b0a;
	margin-top: 50px;
}
dangki .form2{
	margin-top: 50px;
}
dangki .form2 p{
	font-size: 20px;
}
dangki .form2 i{
	margin-right: 10px;
}
.r-form {
    padding: 20px;
    border: 1px dashed ;
}
.r-form h3{
	text-align: center;
	text-transform: uppercase;
}


/* footer */
footer{
	background: url(../images/foot.jpg) no-repeat;
	background-size: cover;
	padding: 10px;
	margin-top: 40px;
}
footer h4{
	color: #fff;
	text-align: center;
	margin: 10px;
}